{% extends "layouts/base.html" %} {% load humanize %} {% block title %} Shopping
Cart{% endblock %} {% block content %}

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h1>Cart List</h1>

    <form method="post" action={% url 'book:edit_qty' %}>
      {% csrf_token %}
      <table class="table" table-bordered>
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
  
        <tbody>
          {% for item in cart_items %}
          <tr>
            <td>
              {{item.code}}
           </td>
            <td>{{item.name}}
            <input type="text" hidden size="5" name="slug"  value="{{item.slug}}">
          </td>
            <td>           
              <input type="number" size="5"  value="{{item.qty}}" name="qty">
            </td>
            <td>{{item.price}}</td>
            <td>
              <button type="submit" class="btn btn-success me-1">
                <i class="fas fa-save"></i>
                Save
              </button>
              <a href="{% url 'book:cart_delete' slug=item.slug %}" class="btn btn-danger">
                <i class="fas fa-trash"></i>
                Delete
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>

    <div class="row">
      <div class="col-4">
        
        <a href="{% url 'book:cart_delete_all' %}" class="btn btn-danger">
          <i class="fas fa-trash"></i>
          Delete all
        </a>

        <a href="{% url 'book:index' %}" class="btn btn-warning">
          <i class="fas fa-backspace"></i>
          Back
        </a>
      </div>
    </div>

    <a href="{% url 'book:cart_checkout' %}" class="btn btn-danger btn-lg float-end">
      <i class="fas fa-backspace"></i>
      Check Out
    </a>
  </div>
</div>

<script>
 
  </script>

{% endblock %}
