{% extends "layouts/base.html" %} 
{% load humanize %}

{% block title %} Book page{% endblock %} 
{% block content %}
<h1>Book List</h1>
<a href="{% url 'book:book_add' %}" class="btn btn-warning mb-4">Add new book</a>
<hr>
<div class="row">
  <div class="col-2">
    <div class="list-group">
      <a href="{% url 'book:index' %}" class="list-group-item list-group-item-action {% if not categoried_id %}active{% endif %}" aria-current="true">
        All
      </a>
      {% for item in categories %}
      <!--  categoried_id|add:'0' แปลงข้อมูลที่ได้จาก str เป็น int ก่อนเช็คเงื่อนไข  -->
      <a href="{% url 'book:index' %}?categoryid={{item.id}}" class="list-group-item list-group-item-action {% if categoried_id|add:'0' == item.id %}active{% endif %}">{{item.name}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="col-10">
    

    <div class="row">

      {% for book in books%}
      <div class="col-lg-3 ">
        <div class="card ">
          {% if book.image %}
          <a href="{% url 'book:detail' slug=book.slug %}">
            <img src="{{book.image.url}}" alt="" class="card-img-top">
          </a>
          {% endif %}
          <div class="card-body mb-4">
              <h5><a href="{% url 'book:detail' slug=book.slug %}">{{ book.name}}</a></h5>
              <div>Category : {{book.category}}</div>
              <div>Price : {{book.price|floatformat:2|intcomma}}</div>
              <div>Author :</div>
              {% for author in book.author.all %}
              <span class="badge bg-secondary">
                {{author.name}}
              </span>
              {% endfor %}
              <br>
              <a href="{% url 'book:detail' slug=book.slug %}" class="btn btn-info mt-1">View detail</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

    <ul class="pagination mt-3">

      <!-- ถ้าเขียนแบบ FBV ใช้ books ถ้าใช้ CBV ให้ใช้ page_obj -->
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}

      {% for item in page_obj.paginator.page_range %}
      <li class="page-item {% if page_obj.number == item %}active{% endif %}"><a class="page-link" href="?page={{item}}">{{item}}</a></li>
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
      </li>
      {% endif %}
    </ul>

  </div>
</div>

{% endblock %}
